*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #f8f8f6;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #003f63;
}

.header {
    margin: 20px;
    font-size: 60px;
    text-shadow: 2px 3px 5px dimgrey;
}

.subheader {
    margin: 10px;
    width: 65%;
    font-size: 20px;
}

.input-box {
    margin-top: 20px;
    padding: 10px;
    width: 25%;
    outline: none;
    border: solid #003f63 3px;
    border-radius: 7px;
    background-color: #ffffff;
    color: #003f63;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}
.input-box::placeholder {
    color: darkgrey;
    font-size: 13px;
    font-weight: normal;
}

.input-box:focus::placeholder {
    color: transparent;
}

.button-error-container {
    margin: 15px;
    height: 50px;
    width: 100%;
}

.button {
    padding: 10px;
    margin: 10px;
    width: 25%;
    background-color: #003f63;
    border: solid #003f63 3px;
    border-radius: 7px;
    outline: none;
    color: #f8f8f6;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff;
    color: #003f63;
}

.error{
    color: crimson;
    font-size: 16px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.opacity {
    opacity: 0.2;
}